full-width-component{
  .full-width-component-container{
    display: block;
    text-align: center;
    padding: 40px;
  }
  .full-width-component-container-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
  }
}

